<%- include('partials/header') %>

<main>
    <!--  Login Form  -->
    <div>
        <form action="/login" method="POST">
            <label for="username-label">Username</label>
            <input id="username-label" name="username" type="text">
            <label for="password-label">Password</label>
            <input id="password-label" name="password" type="password">
            <input type="submit" value="Login">
        </form>
    </div>

    <!--  Register Btn.  -->
    <div>
        <p>Create New Account</p>
        <button>Register</button>
    </div>
</main>

<%- include('partials/footer') %>