<h1>Simple Movie API</h1>

<form action="result" method="get">

    <label for="search"></label><input id="search" type="text" placeholder="Search Movie Title" name="title">
    <button>SEARCH</button>

</form>
