
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.board {
    margin: 50px auto;
    border: 2px solid red;
}

.column {
    height: 100px;
    width: 100px;
    text-align: center;
}

.mid-col {
    border-left: 2px solid deepskyblue;
    border-right: 2px solid deepskyblue;
}

.mid-row .column {
    border-bottom: 2px solid deepskyblue;
    border-top: 2px solid deepskyblue;
}
